@model PhotoContest.App.Models.Pictures.DetailsPictureViewModel
<div class="col-md-3">
    <div class="caption">
        <h3>
            @Model.Title
        </h3>
        
        <span>Author: @Html.ActionLink(@Model.AuthorUsername, "Index", "Users", new { username = Model.AuthorUsername }, null)</span><br />
        <span>Posted on: @Html.DisplayFor(m => m.PostedOn)</span><br />
        <span>Total participations: @Model.ContestsCount</span><br />
        <span id="votes-container">Total votes: @Model.VotesCount</span><br />
        <div class="row">
            @if ((Model.IsAuthor || this.User.IsInRole("Administrator")) && this.TempData.ContainsKey("IsAdminArea") == false)
            {
                @Html.ActionLink("Delete", "Delete", "Pictures", new { id = Model.Id }, new { @class = "btn btn-danger" })
                @*@Html.ActionLink("Remove", "Remove", "Pictures", new { id = Model.Id, contestId = Model.ContestId }, new { @class = "btn btn-warning" })*@
            }
            @*@if (Model.IsAuthor)
            {
                @Html.ActionLink("Delete", "Delete", "Pictures", new { id = Model.Id }, new { @class = "btn btn-danger" })
            }*@
            @Ajax.ActionLink("Vote", "GalleryVote", "Contests", new { contestId = Model.ContestId, pictureId = Model.Id, vote = true }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "votes-container", InsertionMode = InsertionMode.Replace }, new { @class = "btn btn-success" })
            @Ajax.ActionLink("Unvote", "GalleryVote", "Contests", new { contestId = Model.ContestId, pictureId = Model.Id, vote = false }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "votes-container", InsertionMode = InsertionMode.Replace }, new { @class = "btn btn-info" })
        </div>
    </div>
</div>

<div class="col-md-8" id="picture-info-container">
    <img src="@Model.PictureData" class="img-rounded gallery-image" alt="Title: @Model.Title">
</div>