@model PhotoContest.App.Models.Pictures.DetailsPictureViewModel

<div class="col-md-6">
    <img src="@Model.PictureData" class="img-rounded full-image" alt="Title: @Model.Title">
    <div class="caption">
        <h3>
            @Model.Title
        </h3>
        <span>Author: @Model.Author</span><br />
        <span>Posted on: @Html.DisplayFor(m => m.PostedOn)</span><br />
        <span>Total participations: @Model.ContestsCount</span><br />
        <span>Total votes: @Model.VotesCount</span><br />
    </div>
</div>

