@model PhotoContest.App.Models.Notification.NotificationViewModel

@if (Model.IsRead)
{
    ViewBag.background = "thumbnailRead";
}
else
{
    ViewBag.background = "thumbnail";
}
<div class="row @ViewBag.background">
    <p><strong>Content:</strong> @Model.Content</p>
    <h5>Date: @Model.CreatedOn</h5>

    @if (!Model.IsRead)
    {
        using (Ajax.BeginForm("MarkAsRead", "Notifications", new {Model.Id}, new AjaxOptions {HttpMethod = "POST", UpdateTargetId = "notification-" + @Model.Id, InsertionMode = InsertionMode.ReplaceWith}, new {id = "notification-" + Model.Id}))
        {
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-sm btn-default pull-right">Mark As Read</button>
        }
    }
</div>

<script>
    
</script>