@model PhotoContest.App.Models.Notification.NotificationViewModel

@if (Model.IsRead)
{
    ViewBag.background = "thumbnailRead";
}
else
{
    ViewBag.background = "thumbnail";
}
<div class="row @ViewBag.background notification" id="@Model.Id">
    <p><strong>Content: </strong>@Model.Content</p>
    <h5>Date: @Model.CreatedOn.ToString("dd.MM.yyyy hh:mm")</h5>
    @if (!Model.IsRead)
    {
        using (Ajax.BeginForm("MarkAsRead", "Notifications", new {Model.Id}, new AjaxOptions {HttpMethod = "POST", UpdateTargetId = "notification-" + @Model.Id, InsertionMode = InsertionMode.ReplaceWith}, new {id = "notification-" + Model.Id, @class="mark-btn"}))
        {
            @Html.AntiForgeryToken()
            <button type="submit" onclick="changeBackground(@Model.Id)" class="btn btn-sm btn-default pull-right">Mark As Read</button>
        }
    }
</div>

<script>
    function changeBackground(parameters) {
        $("#" + parameters).removeAttr("class");
        $("#" + parameters).attr("class", "row thumbnailRead");
    }
</script>