@model PhotoContest.App.Models.Pictures.SummaryPictureViewModel
<div class="col-md-6">
    <a href="@(Url.Action("Picture", "Me", new { id = @Model.Id }))" class="contest-list">
        <div class="thumbnail">
            <img src="@Model.ThumbnailImageData" alt="Title: @Model.Title">
            <div class="caption">
                <h3>@Model.Title</h3>
                <span>Author: @Model.Author</span><br />
                <span>Total participations: @Model.ContestsCount</span><br />
                <span>Total votes: @Model.VotesCount</span><br />
                @if (this.TempData.ContainsKey("SelectPicture"))
                {
                    if ((bool)this.TempData["SelectPicture"] == true)
                    {
                        @Html.ActionLink("Add", "AddPicture", "Contests", new { contestId = this.TempData["contestId"], pictureId = Model.Id }, new { @class = "btn btn-info" })
                    }
                }
            </div>
        </div>
    </a>
</div>