@using PhotoContest.App.Models.Contest
@model SummaryContestViewModel

<div class="col-md-6">
    <a href="@(Url.RouteUrl("ContestDetails", new { id = @Model.Id }))" class="contest-list">
        <div class="thumbnail">
            <img src="@Model.Thumbnail" alt="@Model.Title">
            <div class="caption">
                <h3>@Model.Title</h3>
                <span>Owner: @Model.Owner</span><br/>
                <span>Start date: @Html.DisplayFor(m => m.StartDate)</span><br/>
                <span>End date: @Html.DisplayFor(m => m.EndDate)</span><br/>
                <span>Participation: @Model.ParticipantsCount member(s) with @Model.PicturesCount pictures</span><br/>
                <span>Votes: @Model.VotesCount</span><br/>
            </div>
        </div>
    </a>
</div>