@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 300mm</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    @if (this.User.IsInRole("Administrator"))
                    {
                        <span class="icon-bar"></span>
                    }
                </button>
                <a class = "navbar-brand logo-container" href="/home/index">
                    <img src="~/Content/img/300mm_logo_white.png" alt="300mm logo" class="logo-image" />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (this.User.Identity.IsAuthenticated)
                    {
                        <li><a href="/Notifications/Index">Notifications <span class="badge">@MvcApplication.GetUnreadNotificationsCount()</span></a></li>
                    }
                    <li>@Html.ActionLink("Rules of Engagement", "Rules", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    @if (this.User.IsInRole("Administrator"))
                    {
                        <li>@Html.ActionLink("Administration", "Index", "Admin", new {area = "Administration"}, new {id = "admin-link"})</li>
                    }
                </ul>
                <form class="navbar-form navbar-left" role="search" action="/Search">
                    <div class="form-group">
                        <input type="text" name="keyword" class="form-control" placeholder="Search">
                    </div>
                    @*<button type="submit" class="btn btn-default">Submit</button>*@
                </form>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="row" id="hub-message">
            @if (this.TempData.ContainsKey("message"))
            {
                <h3 id="system-messages-container" class="system-message">@this.TempData["message"]</h3>
            }
        </div>
        <div class="row" id="sidebar">
            <div class="col-md-3">
                <ul class="nav nav-pills nav-stacked">
                    <li role="presentation" class="disabled"><a href="#"><h4>Contests</h4></a></li>
                    <li role="presentation" @((ViewBag.sortBy == "MostPopular" || ViewBag.sortBy == null) ? "class=active" : "")><a href="@Url.Action("Index", "Home", new { sortBy = "MostPopular" })">Most Popular</a></li>
                    <li role="presentation" @((ViewBag.sortBy == "Latest") ? "class=active" : "")><a href="@Url.Action("Index", "Home", new { sortBy = "Latest" })">Latest</a></li>
                    <li role="presentation" @((ViewBag.sortBy == "EndingSoon") ? "class=active" : "")><a href="@Url.Action("Index", "Home", new { sortBy = "EndingSoon" })">Ending soon</a></li>
                    <li role="presentation" @((ViewBag.sortBy == "ComingSoon") ? "class=active" : "")><a href="@Url.Action("Index", "Home", new { sortBy = "ComingSoon" })">Coming soon</a></li>
                    <li role="presentation" @((ViewBag.sortBy == "Archive") ? "class=active" : "")><a href="@Url.Action("Index", "Home", new { sortBy = "Archive" })">Archive</a></li>
                </ul>
                @if (this.User.Identity.GetUserId() != null)
                {
                    <br />
                    <ul class="nav nav-pills nav-stacked">
                        <li role="presentation" class="disabled"><a href="#"><h4>My menu</h4></a></li>
                        <li role="presentation"><a href="@Url.Action("Contests", "Me")">My contests</a></li>
                        <li role="presentation"><a href="@Url.Action("Create", "Contests")">Create contest</a></li>
                        <li role="presentation"><a href="@Url.Action("Pictures", "Me")">My pictures</a></li>
                        <li role="presentation"><a href="@Url.Action("UploadPicture", "Me")">Upload picture</a></li>
                    </ul>
                }
            </div>
            @RenderBody()
        </div>
        <hr/>
        <footer>
            <p>&copy; @DateTime.Now.Year - 300mm by GOTRAOBDT</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/signalr")
    <script src="/signalr/hubs"></script>
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/contest-hub.js"></script>

    @RenderSection("scripts", required: false)

    <script>
        $('#system-messages-container').click(function () {
            $('#system-messages-container').remove();
        });
    </script>
</body>
</html>