@model PhotoContest.App.Models.Contest.CreateContestBindingModel
@{
    ViewBag.Title = "Create";
}
<div class="col-md-7 col-md-offset-1">
    @using (Html.BeginForm("Create", "Contests", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h1>Create new contest</h1>
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })

            @Html.LabelFor(m => m.Title, new { @class = "col-md-4 control-label" })
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
            </div>
            @Html.ValidationMessage("Title")

            @Html.LabelFor(m => m.Description, new { @class = "col-md-4 control-label" })
            <div class="col-md-8">
                @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
            </div>
            @Html.ValidationMessage("Description")

            @Html.LabelFor(m => m.DeadlineType, new { @class = "col-md-4 control-label" })
            <div class="col-md-8">
                @Html.EnumDropDownListFor(m => m.DeadlineType, new { @class = "form-control" })
            </div>
            @Html.ValidationMessage("DeadlineType")

            @Html.LabelFor(m => m.VotingType, new { @class = "col-md-4 control-label" })
            <div class="col-md-8">
                @Html.EnumDropDownListFor(m => m.VotingType, new { @class = "form-control" })
            </div>
            @Html.ValidationMessage("DeadlineType")

            @Html.LabelFor(m => m.ParticipationLimit, new { @class = "col-md-4 control-label" })
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.ParticipationLimit, new { @class = "form-control", @type="number"})
            </div>
            @Html.ValidationMessage("ParticipationLimit")

            @Html.LabelFor(m => m.ParticipationType, new { @class = "col-md-4 control-label" })
            <div class="col-md-8">
                @Html.EnumDropDownListFor(m => m.ParticipationType, new { @class = "form-control" })
            </div>
            @Html.ValidationMessage("ParticipationType")

            @Html.LabelFor(m => m.StartDate, new { @class = "col-md-4 control-label" })
            <div class="col-md-8">
                <input type="date" name="StartDate" class="form-control" />
            </div>
            @Html.ValidationMessage("StartDate")

            @Html.LabelFor(m => m.EndDate, new { @class = "col-md-4 control-label" })
            <div class="col-md-8">
                <input type="date" name="EndDate" class="form-control" />
            </div>
            @Html.ValidationMessage("EndDate")

        <div class="form-group">
            @Html.LabelFor(m => m.Thumbnail, new { @class = "col-md-4 control-label" })
            <div class="col-md-8">
                <img class="img-thumbnail profile-picture-preview" id="picturePreview" alt="Select picture." src="~/Content/img/no-photo.png"><br />
                @Html.ValidationMessage("Thumbnail")
                <br />
                <p class="label label-info">Allowed format: .jpg, Limit: 1mb</p>
                <br /><br />
                @Html.HiddenFor(m => m.Thumbnail, new { style = "display:none", id = "pictureContainer" })
                <input type="file" id="pictureSelector" style="display:none;" />
                <button class="btn btn-default" onclick="getImage(); return false;">Choose</button>

            </div>
        </div>

       <div class="form-group" id="prizes-container">
           <h4>Prizes:</h4>
           <label class="col-md-4 control-label">Prize <span class="prize-number">#1. </span></label>
           <input type="text" class="form-control col-md-8" name="Prizes[0].Name" />
           
           <label class="col-md-4 control-label">Description </label>
           <input type="text" class="form-control" name="Prizes[0].Description" />
       </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <a  onclick="addPrize()" class="btn btn-primary">Add Prize</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default" value="Create Contest" />
                    @Html.ActionLink("Cancel", "Index", "Home", null, new { @class = "btn btn-primary" })
                </div>
            </div>
        </div>
    }
</div>

<script>
    function getImage () {
        $('#pictureSelector').click()
            .on('change', function () {
                var file = this.files[0];
                if (file.type.match(/image\/.*/)) {
                    var reader = new FileReader();
                    reader.onload = function () {
                        $('#picturePreview')
                            .text(file.name)
                            .attr('src', reader.result);
                        $('#pictureContainer')
                            .attr('value', reader.result);
                    };
                    reader.readAsDataURL(file);
                } else {
                }
            });
    };

    function addPrize() {
        var prizesCount = $('.prize-number').length;
        if (prizesCount > 4) {
            return;
        }

        var $container = $("<div>")
            .attr('id', 'prize-container' + prizesCount);

        var $span = $("<span>")
            .attr('class', 'prize-number')
            .text('#' + (prizesCount + 1) + '. ');
        var $label = $("<label>")
            .attr('class', 'col-md-4 control-label')
            .text(' Prize ');
        $span.appendTo($label);
        $label.appendTo($container);

        var $input = $('<input type="text">')
            .attr({ class: 'form-control', name: "Prizes[" + prizesCount + "].Name" });
        $input.appendTo($container);

        var $descriptionLabel = $("<label>")
            .attr('class', 'col-md-4 control-label')
            .text('Description ');
        var $descriptionInput = $('<input type="text">')
            .attr({ class: 'form-control', name: "Prizes[" + prizesCount + "].Description" });

        $descriptionLabel.appendTo($container);
        $descriptionInput.appendTo($container);

        var $formGroupDiv = $("<div>")
            .attr('class', 'form-group');
        var $labelDiv = $("<div>")
            .attr('class', 'col-md-4');
        var $deleteLink = $("<a>")
            .text("Delete")
            .attr({ class: 'col-md-8' })
            .click(function () {
            $('#prize-container' + prizesCount).remove();
            });
        
        $labelDiv.appendTo($formGroupDiv);
        $deleteLink.appendTo($formGroupDiv);
        $formGroupDiv.appendTo($container);
        $container.appendTo($('#prizes-container'));
    }
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
