@model PhotoContest.App.Models.Account.EditProfileBindingModel

@using PhotoContest.Models.Enumerations

@Html.AntiForgeryToken()

<div class="form-group">
    @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    </div>
    @Html.ValidationMessage("Name")
</div>

<div class="form-group">
    @Html.LabelFor(m => m.ProfilePicture, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @if (Model.ProfilePicture == null)
        {
            <img class="img-thumbnail profile-picture-preview" id="profileImagePreview" alt="Select profile photo." src="~/Content/img/noavatar.jpg">
        }
        else
        {
            <img class="img-thumbnail profile-picture-preview" id="profileImagePreview" alt="Select profile photo." src="@Model.ProfilePicture">
        }
        @Html.ValidationMessage("ProfilePicture")
        <br />
        <p class="label label-info">Allowed format: .jpg, Limit: 128kb</p>
        <br /><br />
        <input type="text" style="display:none;" name="ProfilePicture" id="profileImageContainer"/>
        <input type="file" id="profileImageSelector" style="display:none;" />
        <button class="btn btn-default" onclick="getProfileImage(); return false;">Choose</button>

    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
    </div>
    @Html.ValidationMessage("Email")
</div>

<div class="form-group">
    @Html.LabelFor(m => m.BirthDate, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        <input type="date"  name="BirthDate" value="@Model.BirthDate" class="form-control"/>
    </div>
    @Html.ValidationMessage("BirthDate")
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Gender, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @if (@Model.Gender == (UserGender)0)
        {
            @Html.RadioButtonFor(m => m.Gender, 0, new { @checked = "" }) @:Other
        }
        else
        {
            @Html.RadioButtonFor(m => m.Gender, 0) @:Other
        }

        @if (@Model.Gender == (UserGender)1)
        {
            @Html.RadioButtonFor(m => m.Gender, 1, new { @checked = "" }) @:Male
        }
        else
        {
            @Html.RadioButtonFor(m => m.Gender, 1) @:Male
        }

        @if (@Model.Gender == (UserGender)2)
        {
            @Html.RadioButtonFor(m => m.Gender, 2, new { @checked = "" }) @:Female
        }
        else
        {
            @Html.RadioButtonFor(m => m.Gender, 2) @:Female
        }
    </div>
    @Html.ValidationMessage("Gender")
</div>

<script>
    function getProfileImage () {
        $('#profileImageSelector').click()
            .on('change', function () {
                var file = this.files[0];
                if (file.type.match(/image\/.*/)) {
                    var reader = new FileReader();
                    reader.onload = function () {
                        $('#profileImagePreview')
                            .text(file.name)
                            .attr('src', reader.result)
                            .show();
                        $('#profileImageContainer')
                            .attr('value', reader.result);
                    };
                    reader.readAsDataURL(file);
                } else {
                }
            });
    };
</script>


