@using PhotoContest.App.Models.Contest
@model SummaryContestViewModel

<tr>
    <td>@Model.Id</td>
    <td>@Model.Title</td>
    <td>@Model.Owner</td>
    <td>@Html.DisplayFor(d => d.StartDate)</td>
    <td>@Html.DisplayFor(d => d.EndDate)</td>
    <td>@Model.Status</td>
    <td><a href="@Url.Action("GetContestById", "Contests", new { id = Model.Id} )" class="btn btn-primary">Details</a></td>
</tr>