@model PhotoContest.App.Models.Pictures.SummaryPictureViewModel
<div class="col-md-6">
    <a href="@(Url.Action("Index", "Pictures", new { id = @Model.Id, contestId = Model.ContestId }))" class="contest-list">
        <div class="thumbnail">
            <div class="thumbnail-image-container">
                <img src="@Model.ThumbnailImageData" alt="Title: @Model.Title" class="thumbnail-image-size">
            </div>
            <div class="caption">
                <h3>@(Model.Title ?? "(no title)")</h3>
                <span>Author: @Html.ActionLink(Model.AuthorUsername, "GetUserByUsername", "Users", new { username = Model.AuthorUsername }, null)</span><br />
                <span>Total participations: @Model.ContestsCount</span><br />
                <span>Total votes: @Model.VotesCount</span><br />
                @if (this.TempData.ContainsKey("SelectPicture"))
                {
                    if (Model.AddToContest == true)
                    {
                        @Html.ActionLink("Add", "AddPicture", "Contests", new { contestId = Model.ContestId, pictureId = Model.Id }, new { @class = "btn btn-info" })
                    }
                }
            </div>
        </div>
    </a>
</div>