@using PhotoContest.App.Models.Contest
@model SummaryContestViewModel

<tr>
    <td>@Model.Id</td>
    <td>@Model.Title</td>
    <td>@Html.DisplayFor(d => d.StartDate)</td>
    <td>@Html.DisplayFor(d => d.EndDate)</td>
    <td>@Model.Status</td>
    <td>@Model.VotingType</td>
    <td>@Model.ParticipationType</td>
    <td>@Model.DeadlineType</td>
    <td>@Model.ParticipantsCount</td>
    <td>@Model.PicturesCount</td>
    <td>@Model.VotesCount</td>
</tr>